.wrapper {
  height: 100%;
  display: flex;
}
.left {
  margin-right: 1%;
  width: 95%;
}
.right {
  margin-left: 1%;
  width: 95%;
}
.vl {
    position:fixed;
    top:0;
    bottom:0; margin:0;
    left: 50%;
    border:none;
    border-right:solid 1px black;
    z-index:10;
}
.valign {
    padding-top: 25px;
}